/* Общая стилистика */
body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #3a484d;
}

p {
  text-indent: 20px;
}

/* Стилистика различных классов */
.title {
  text-align: center;
  font-weight: 700;
  letter-spacing: -2px;
  text-decoration: line-through;
  text-transform: uppercase;
}

.justify {
  text-align: justify;
}

ul {
  list-style-type: square;
}

/* Таблица */
.table {
  border: 1px solid #000;
  width: 100%;
  border-collapse: collapse;
  /*table-layout: fixed;*/
}

.table th {
  padding: 5px;
  text-align: left;
  color: rgb(42, 89, 76);
}

.table td {
  border: 1px solid #000;
  padding: 5px;
}

/* Блочные элементы */

.page-for-example {
  width: 900px;
  margin-left: auto;
  margin-right: auto;

  background-color: rgb(255, 235, 197);
}

.content-block {
  background-color: rgb(228, 186, 137);
}

.footer-block {
  color: white;
  background-color: rgb(160, 123, 75);
}

.text-red {
  color: #ce2424;
  font-weight: 700;
  font-style: italic;
  /* margin: 50px; Отступы для span только слева/справа показывается */
  /* display: inline-block; */
}
